{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 text-light">
    <h2 class="mb-4">About Page</h2>

    <div class="jumbotron bg-dark">
        <h1 class="display-4 font-weight-bold">MiniBlog Web App</h1>
        <p class="lead my-4">Welcome to the MiniBlog Web App, a simple yet powerful platform for sharing your thoughts and ideas through blog posts.</p>
        <hr class="my-2 bg-light">
        <p class="my-4">Whether you're a passionate writer or someone looking to express themselves, MiniBlog provides a user-friendly interface to create and publish your blogs.</p>
        <p class="my-4">Explore the features, connect with like-minded individuals, and make your mark in the digital world.</p>
    </div>

</div>
{% endblock %}

